@import '../../../sass/base';
@import '../../../sass/typography';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main-update-goal {
  position:fixed;
  background: $color-primary-dark;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin: 0px 15px;

    h3 {
      margin: 0px;
      color: white;
    }

    img {
      height: 25px;
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 25px;
    margin: 0px 15px;
    text-align: center;

    .email-container {
      margin-bottom: 10px;
      text-align: left;

      .label {
        margin-bottom: 10px;
        color: white;
      }
    }

    .flex-container {
      display: flex;
      justify-content: space-between;

      .email-container {
        margin-bottom: 10px;
        text-align: left;
        width: 45%;
  
        .label {
          margin-bottom: 10px;
          color: white;
        }
      }
    }

    button {
      @include medium;
      width: 30%;
      margin-top: 15px;
      border: 0;
      color: #ffffff;
      padding: 14px 0px 17px 0px;
      font-size: 1.0625rem;
      line-height: 1.3125rem;
      border-radius: 4px;
      transition: all 0.15s ease-in-out;
    
      &:hover {
        background-color: #226600;
      }
    
      &:focus {
        outline: none !important;
        box-shadow: 0 0 0 0.2rem rgba(34, 102, 0, 0.5);
        background-color: #226600;
      }
    
      &:disabled {
        background-color: $color-disabled;
      }
    
      background: none;
      box-shadow: none;
      background-color: $color-secondary;
      }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}