// Global CSS imports
@import './typography';
@import './base';

// Select Dropdown Global styling
.select {
  @include regular;
  font-size: 0.8rem;
  padding: 5px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;

  &:focus {
    outline: none !important;
    border: 1px solid $color-secondary;
    box-shadow: 0 0 0 0.1rem rgba(42, 128, 0, 0.5);
  }
}

// Primary Button Global styling
@mixin button {
  @include medium;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 9px 20px 12px 20px;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
  color: white;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #226600;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(34, 102, 0, 0.5);
    background-color: #226600;
  }

  &:disabled {
    background-color: $color-disabled;
  }
}

// Green Button Global styling
.button-green {
  @include button;
}

// Primary Red Global styling
.button-red {
  @include button;
  background-color: #cc0000;
  border: 1px solid #cc0000;

  &:hover {
    background-color: #c94343;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(204, 0, 0, 0.5);
    background-color: #c94343;
  }
}

// Purple Button Global styling
.button-purple {
  @include button;
  background-color: $color-primary;
  border: 1px solid $color-primary;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(75, 40, 109, 0.5);
    background-color: $color-primary-dark;
  }
}

// White Button Global styling
.button-white {
  @include button;
  background-color: white;
  border: 1px $color-secondary solid;
  color: $color-secondary;

  &:hover {
    background-color: #f8fff5;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(42, 128, 0, 0.5);
    background-color: #f8fff5;
  }
}

// Gray Button Global styling
.button-gray {
  @include button;
  background-color: #d8d8d8;
  border: 1px #d8d8d8 solid;
  color: #54595f;

  &:hover {
    background-color: #f3f3f3;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(216, 216, 216, 0.5);
    background-color: #f3f3f3;
  }
}
